<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinProgram</servlet-name>
  	<display-name>JoinProgram</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.JoinProgram</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>idcheck</servlet-name>
  	<display-name>idcheck</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.idcheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateService</servlet-name>
  	<display-name>UpdateService</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.UpdateService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadService</servlet-name>
  	<display-name>UploadService</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.UploadService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StateProgram</servlet-name>
  	<display-name>StateProgram</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.StateProgram</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>kakaoService</servlet-name>
  	<display-name>kakaoService</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.kakaoService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>rankService</servlet-name>
  	<display-name>rankService</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.rankService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pwcheck</servlet-name>
  	<display-name>pwcheck</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.pwcheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CityChargeStation</servlet-name>
  	<display-name>CityChargeStation</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.CityChargeStation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Chart_inner</servlet-name>
  	<display-name>Chart_inner</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.Chart_inner</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fastcharge</servlet-name>
  	<display-name>fastcharge</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.fastcharge</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>lowcharge</servlet-name>
  	<display-name>lowcharge</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.lowcharge</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>avg</servlet-name>
  	<display-name>avg</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.avg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>lowavg</servlet-name>
  	<display-name>lowavg</display-name>
  	<description></description>
  	<servlet-class>com.plugspot.controller.lowavg</servlet-class>
  </servlet>
  


  <servlet-mapping>
  	<servlet-name>JoinProgram</servlet-name>
  	<url-pattern>/JoinProgram</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>idcheck</servlet-name>
  	<url-pattern>/idcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateService</servlet-name>
  	<url-pattern>/UpdateService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadService</servlet-name>
  	<url-pattern>/UploadService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StateProgram</servlet-name>
  	<url-pattern>/StateProgram</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>kakaoService</servlet-name>
  	<url-pattern>/kakaoService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rankService</servlet-name>
  	<url-pattern>/rankService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pwcheck</servlet-name>
  	<url-pattern>/pwcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CityChargeStation</servlet-name>
  	<url-pattern>/CityChargeStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Chart_inner</servlet-name>
  	<url-pattern>/Chart_inner</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fastcharge</servlet-name>
  	<url-pattern>/fastcharge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lowcharge</servlet-name>
  	<url-pattern>/lowcharge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>avg</servlet-name>
  	<url-pattern>/avg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lowavg</servlet-name>
  	<url-pattern>/lowavg</url-pattern>
  </servlet-mapping>

</web-app>