<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource = "com/plugspot/db/db.properties"/>
  <typeAliases>
    <typeAlias type = "com.plugspot.model.MemberDTO" alias="MemberDTO"/>
    <typeAlias type = "com.plugspot.model.uploadDTO" alias="uploadDTO"/>
    <typeAlias type = "com.plugspot.model.kakaoDTO" alias="kakaoDTO"/>
    <typeAlias type = "com.plugspot.model.ChargeDTO" alias="ChargeDTO"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/plugspot/mapper/Mapper.xml"/>
    <mapper resource="com/plugspot/mapper/uploadMapper.xml"/>
    <mapper resource="com/plugspot/mapper/Charge.xml"/>
    <mapper resource="com/plugspot/mapper/kakao.xml"/>
  </mappers>
</configuration>